body {
  font-family: Arial, sans-serif;
}
.content_wrapper{
  margin:0 auto;
  width:80%;
}

.main_header {
  background: darkseagreen;
  margin-bottom: 10px;
}

.main_header_wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_header_wrapper :first-child {
  flex-grow: 3;
}

.main_header {
  height: 60px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  width: 200px;
  height: 30px;
  margin-right: 40px;
}
.search .search_input {
  border-bottom: 2px solid white;
  height: 22px;
  margin: 0 0 0 0;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
}
.search .search_input:focus {
  outline-style: none;
}

.search_btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 100%;
  cursor: pointer;
}

.btn-cart {
  position: relative;
  background-color: transparent;
  border: 3px solid goldenrod;
  border-radius: 15px;
  height: 30px;
  width: auto;
  cursor: pointer;
  font-weight: bold;
}
.btn-cart:hover {
  background: goldenrod;
  color: white;
}

.cart_pop_up {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 10px 40px 10px;
  width: 250px;
  height: auto;
  min-height: 100px;
  max-height: 350px;
  top: 60px;
  right: 60px;
  border: 1px solid grey;
  color: black;
  background-color: lightgray;
}

.empty_cart_message {
  color: cornflowerblue;
  font-size: 14pt;
}

.cart_pop_up__line {
  position: relative;
  display: grid;
  border: 1px solid transparent;
  width: 100%;
  height: 70px;
  grid-template: 1fr 1fr/0.5fr 1fr 0.3fr;
}
.cart_pop_up__line:hover {
  border: 1px solid grey;
  transition: 0.2s ease-in-out;
}
.cart_pop_up__line .img-link {
  grid-row: 1/2 span;
}
.cart_pop_up__line .product_title {
  grid-column: 2;
  grid-row: 1;
  place-self: center start;
  margin: 0;
  padding-left: 5px;
}
.cart_pop_up__line .product_subtotal {
  grid-row: 2;
  grid-row: 2;
  margin: 0;
  place-self: center;
  padding-left: 5px;
  font-size: 12px;
}
.cart_pop_up__line .remove_from_cart {
  grid-column: 3;
  grid-row: 1/span 2;
  place-self: center;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: indianred;
  font-weight: bold;
  font-size: 14pt;
  cursor: pointer;
}

.cart_pop_up_summary {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: lightcyan;
  left: 0;
}
.cart_pop_up_summary:hover {
  cursor: auto;
}
.cart_list_container{
  display: grid;
  justify-content: center;
}
.cart_list_line{
  width: 600px;
}


.products {
  width: 40%;
  margin: 0 auto;
  padding: 0 40px 0 40px;
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-item {
  width: 180px;
  border: 1px solid cornflowerblue;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-rows: 1.5fr 1.2fr;
}
.product-item .description {
  place-self: center;
}
.product-item .product_item_title {
  grid-row: 2;
  margin: 0;
  text-align: center;
}
.product-item .product_item_price {
  justify-self: center;
  align-self: center;
  font-weight: bold;
  color: goldenrod;
  margin: 5px 0 5px 0;
  text-align: center;
}

.product_item_picture {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.nodata_message {
  text-align: center;
  font-size: 32px;
  color: grey;
}

.by-btn {
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 10px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  align-self: end;
}
.by-btn:hover {
  background-color: lightgreen;
}

/*# sourceMappingURL=style.css.map */
